@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Itim&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&family=Unlock&display=swap');



* {
    font-family: "Poppins", serif;
}

body {
    height: 100vh;
}

button,
.btn {
    background-color: #afce36;
    border-radius: 15px;
}

input:focus {
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid #afce36;
    outline: none;
}

textarea:focus {
    border: none;
    border-bottom: 3px solid #afce36;
    outline: none;
}

select:focus {
    border: none;
    border-bottom: 3px solid #afce36;
    outline: none;
}

/* #198754 */
.addUserBody {
    height: 100vh;
}

.addUser {
    background-color: white;
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
}

::placeholder {
    font-size: .85rem;
}

.addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label {
    margin-top: 10px;
}

.addUserForm .inputGroup input {
    margin-top: 5px;
    padding: 13px;
    border-radius: 15px;
}

.inputGroup button {
    margin-top: 10px;
}

.login {
    margin-top: 30px;
    text-align: center;
}

.login .btn.btn-primary {
    width: 50%;
}

.addUser h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Itim", serif;
    font-size: 2rem;
    color: #afce36;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}


/* container */
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.center-icon {
    margin: 0 15px;
    width: 40px;
    height: auto;
}